* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  font-size: 100%;

}


#app {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


.defaultButton{
  font-weight: normal;
  color: #0e0404;
  height: fit-content;
  width: fit-content;
  font-size: 14px;

  background-color: #9b9b9b;
}

.isActive{
  color: white;
  background-color: blue;
}



.plan-title{
  background-color: #a9a7a7;
  color: red;
}
.plan{
  background-color: #a9a7a7;
  color: red;
}

.navigation-bar{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  height: 5vh;
  width: 100vw;
  background-color: #333333;

}

.column-1{
  display: flex;
  flex-direction: column;
  background-color: #a9a7a7;
  width: 30vw;
  height: 100vh;
  align-items: center;
}

.column-1:hover{
  background-color: black;
}


p{
  font-weight: normal;
  color: #ffffff;
}

li{
  font-weight: normal;
  color: #ffffff;
}

ul{
  font-weight: normal;
  color: #ffffff;
}


label{
  font-weight: normal;
  color: #ffffff;
}

h1,
h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  color: #ec3737;
}

/*img {*/
/*  border-radius: 50%;*/
/*  width: 4vh;*/
/*  !*border: 5px #333 solid;*!*/
/*  !*margin-bottom: 1rem;*!*/
/*  padding: 2px;*/
/*  margin: 15px;*/
/*}*/

.male {
  border-color: steelblue;
  background-color: steelblue;
}

.female {
  border-color: pink;
  background-color: pink;
  color: #333;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #9b9b9b;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 5px;


}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.98);
}

canvas{
  border:1px solid #d3d3d3;
  color: white;
}

.vertical-container{
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-button{
  width: 20vw;
  height: 6vh;
  color: white;
  background-color: #1a1a1a;
  margin-top: 5px;
  margin-bottom: 5px;
}



.wide-button:hover {
  transform: scale(0.98);
  background-color: #9b9b9b;
  color: black;

}

.wide-button:active{

  background-color: #32ff00;


  color: black;
}



.crypto-widget{
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 15px;
  /*animation-name: testAnimation;*/
  /*animation-duration: 1s;*/
  /*animation-iteration-count: infinite;*/

}
.crypto-widget:hover{
  transform: scale(1.05);
  background-color: #292929;
}


/*@keyframes testAnimation {*/
/*  from {background-color: red;}*/
/*  to {background-color: yellow;}*/
/*}*/


.s-label{
  color: #2b5bd2;
  font-size: 1em;
  margin: 15px;

}

.m-label{
  color: white;
  font-size: 1.5em;
  margin: 15px;
}

.m-label-bids{
  color: #00940d;
  font-size: 1.5em;
  margin: 15px;
}

.m-label-asks{
  color: #ff0000;
  font-size: 1.5em;
  margin: 15px;
}

.l-label
{
  color: white;
  font-size: 2em;
  margin: 15px;
}

.l-label-title
{
  color: #1425b1;
  font-size: 2em;
  margin: 15px;
}

.xl-label{
  color: white;
  font-size: 2.5em;
  margin: 15px;
}

.xxl-label{
  color: white;
  font-size: 3em;
  margin: 15px;
}

.xxxl-label{
  color: white;
  font-size: 3.5em;
  margin: 15px;
}




